/* 
 * style.css (stylesheet for the website 'vokoun.github.io')
 * Copyright 2016 David Vokoun
 * Free software under the terms of the MIT License
 */

a {
	color:#00447c;
}

blockquote {
	font-size:80%;
	border-left:4px solid #eee;
	margin-left:8px;
	padding-left:4px;
}

date {
	font-size:small;
	color:#888;
}


.header {
	text-align:center;
	padding-top:30px;
}

.subtitle {
	padding:8px;
	font-size:80%;
	margin-bottom:20px;
}

#view {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	
	padding-top:20px;
	margin-bottom:30px;

}

.tab {

	cursor:pointer;
	font-variant: small-caps;
	height:40px;
	line-height:40px;
	vertical-align: top;
	background:transparent;
}

.tab:hover {
	background:#444543;
	color:#fefefe;
}

.tab-active {
	/* was gold */
	background:gold;

}

.tab-active:hover {
	background:gold;
	color:black;
}

.center, .copyright-notice {
	text-align:center;
}





.status-item {
	padding:4px; 
	margin-bottom:10px;
}
.status-item p {
	padding:4px;
	margin-bottom:0;
}

.status-item img {
	border:4px solid #eee;
	width:100%;
	max-width:320px;
}

.news-item {
	font-size:small;
	margin-bottom:4px;
	padding:4px; 
}


#news, #links {
}

#no-js-detected {
	background: gold;
}
.error {
	color:red;
	font-weight: bold;
}

.embed {
	padding-bottom:0;
	border:1px solid #eee;
	background:#f2f2f2;
	cursor:pointer; 
	transition:all 300ms;
}
.embed:hover {
	background: #eafeaf;
}

.embed iframe {
	padding-bottom:0; 
	margin:0; margin-bottom:0;
}


/* class modifiers */
.tiny {
	font-size:40%;
}

.hidden {
	display:none;
	position:absolute;
	top:-1000px;
	left:-1000px;
	width:1px;
	height:1px;
}

.pad20 { padding:20px;}

.center {
	text-align: center;
}