			<div class="row">
				<div class="columns twelve">
					<h2>Development</h2>
					<!--

					<h3>Applications</h3>
					<ul>
						<li><a href="https://bitbucket.org/vokoun/xvx">xvx</a>: a source code and prose editor (in python3 and Gtk+)</li>
						<li>pish: a personal information shell to display weather, news, email and other notifications</li>
						<li><a href="https://bitbucket.org/vokoun/mdpv">mdpv</a>: a Markdown viewier (in python Gtk+, WebKit)</li>
						<li>vise: a static site builder</li>
					</ul>

					<h3>Libraries</h3>
					<ul>
						<li>ptk: a experimental python toolkit</li>
						<li>jtk: a experimental javascript toolkit</li>
						<li>luca: a python WebKit2 development platform/library</li>
						<li>lua-sdl2: a lua binding to the sdl2 library</li>
						<li>lune: a lua based (lua-sdl2) game development library</li>
					</ul>

					<h3>Games</h3>
					<ul>
						<li>tetra: an experimental 2D, top-down, open-world, strategy-rpg</li>
					</ul>

					<h3>Linga</h3>
					<ul> 
						<li>Specification: The linga programming language, version 1.0-alpha</li>
						<li>linga: the linga programming language prototype implementation, in lua and C.  (Comprising a VM, Interpreter, REPL, Compiler, Package Manager</li>
						<li>lmake: a shell script that handles fetching, resolving dependencies, building, installing, and upgrading linga</li>
					</ul>
					-->

					<small>[Will update with links as I put various repositories online]</small>
					<code>function() { return this; }</code>

				</div>
			</div>
