			<div class="row">
				<div class="columns twelve">
					<h2>Development</h2>

					<h3>Applications</h3>
					<ul>
						<li><a href="https://bitbucket.org/vokoun/xvx">xvx</a>: a source code and prose editor (in python3 and Gtk+)</li>
						<li>pish: a personal information shell to display weather, news, email and other notifications</li>
						<li><a href="https://bitbucket.org/vokoun/mdpv">mdpv</a>: a Markdown viewier (in python Gtk+, WebKit)</li>
					</ul>

					<h3>Libraries</h3>
					<ul>
						<li>ptk: a experimental python toolkit</li>
						<li>jtk: a experimental javascript toolkit</li>
						<li>lua-sdl2: a lua to sdl2 library</li>
						<li>lune: a lua-sdl2 based game dev library</li>
					</ul>

					<h3>Games</h3>
					<ul>
						<li>tetra: an experimental 2D, top-down, open-world, strategy-rpg</li>
					</ul>

					
					<h3>Languages</h3>
					<ul> 
						<li>linga: the linga programming language specification, version 1</li>
						<li>lingac: the linga programming language implemented in pure C</li>
						<li>lingap: the linga programming language prototype implemented in lua and C</li>
					</ul>

					<h3>Operating Systems</h3>
					<ul>
						<li>yuna: a simple x86 Operating System</li>
						<li>yunapi: an ARMv8 port of the Operating System yuna-x86 for Raspberry Pi 2</li>

					</ul>
					<small>[Will update with links as I put various repositories online]</small>

				</div>
			</div>
