			<div class="row">
				<div class="columns six">
					<h2>Resources</h2>

					<h3>Computer Science</h3>
					<div class="news-item">
						<a href="https://education.github.com/pack" title="GitHub Student Developer Pack" target="_blank">GitHub Student Developer Pack</a> (education.github.com)
					</div>
					<strong>languages</strong>
					<div class="news-item">
						<a href="http://c.learnthehardway.org/" target="_blank">Learn C the Hard Way</a> (c.learnthehardway.org)
					</div>
					<div class="news-item">
						<a href="http://learnyouhaskell.com" title="Learn You a Haskell for Great Good" target="_blank">Learn You a Haskell for Great Good</a> (learnyouhaskell.com)
					</div>
					<strong>reference</strong>
					<div class="news-item">
						<a href="https://developer.mozilla.org/en-US/">Mozilla Developer Network</a> (developer.mozilla.org) HTML, CSS, Javascript, and other browser and web development documentation.
					</div> 
					<div class="news-item">
						<a href="http://wiki.osdev.org/Main_Page" title="OS-Dev.org" target="_blank">OSDev.org</a> (wiki.osdev.org) Best general wiki on Operating Systems development.
					</div>
					<div class="news-item">
						Lua: <a href="" title="" target="_blank">5.3 Docs</a>, <a href="" title="" target="_blank">5.3 Reference</a>
					</div>
					<div class="news-item">
						Python: <a href="" title="" target="_blank">3.5 Docs</a>, <a href="" title="" target="_blank">2.7 Docs</a>,
					</div>
					<div class="news-item">
						Nodejs <a href="" title="" target="_blank">Docs</a>, <a href="" title="" target="_blank">Ref</a>
					</div>
					<div class="news-item">
						<a href="" title="" target="_blank">Intel x86 Reference</a>
					</div>
					<div class="news-item">
						<a href="" title="" target="_blank">ARMv8 Reference</a>
					</div>

					<h3>Electrical</h3>
					<div class="news-item">
						<a href="">All About Circuits</a> (allaboutcircuits)
					</div>

					<h3>Math</h3>
					<div class="news-item">
						<a href="http://www.gnu.org/software/octave" title="GNU Octave" target="_blank">GNU Octave</a> (www.gnu.org)
					</div>
					<div class="news-item">
						<a href="http://www.wolframealpha.com" title="WolframAlpha" target="_blank">WolframAlpha</a> (wolframalpha.com)
					</div>

					<h3>Science</h3>
					<div class="news-item">
						<a href="https://data.nasa.gov/developer" title="" target="_blank">NASA APIs for Developers</a> (data.nasa.gov)
					</div>
					<div class="news-item">
						<a href="http://earthquake.usgs.gov/earthquakes/map/" title="USGS Earthquake Map" target="_blank">USGS Earthquake Map</a> (earthquake.usgs.gov)
					</div>

					<h3>Literature</h3>
					<div class="news-item">
						<a href="https://gutenberg.org/catalog" title="Project Gutenberg" target="_blank">Project Gutenburg</a> (gutenberg.org)
					</div>
					<div class="news-item">
						<a href="http://classics.mit.edu" title="The Internet Classics Archive" target="_blank">The Internet Classics Archive (MIT)</a> (classics.mit.edu)
					</div>

					<h3>Music Theory</h3>
					<div class="news-item">
						<a href="" title="" target="_blank">Music Theory</a>
					</div>


				</div>
				<div class="columns six">
					<h2>&nbsp;</h2>

					<h3>Textbooks</h3>
					<div class="news-item">
						<a href="https://en.wikibooks.org/" target="_blank">WikiBooks: open source textbooks</a> (wikibooks.org)
					</div> 
					<div class="news-item">
						<a href="https://openstaxcollege.org/books" target="_blank">Opensstax College: Opensource, peer-reviewed, textbooks</a> (openstaxcollege.org)
					</div> 
					<div class="news-item">
						<a href="https://open.umn.edu/opentextbooks/" target="_blank">University of Minnesota: Open Textbook Library</a> (open.umn.edu)
					</div> 



					<h3>Archives</b3>
					<div class="news-item">
						<a href="https://archive.org" target="_blank">The internet Archive</a> (archive.org)
					</div> 
					<div class="news-item">
						<a href="https://wikimediafoundation.org/wiki/Home" target="_blank">Wikimedia Foundation</a> (wikimediafoundation.org)
					</div> 						

					<h3>Software</h3>
					<div class="news-item">
						<a href="" title="" target="_blank">Terminator</a>, 					
						<a href="" title="" target="_blank">byobu</a>, 					
						<a href="" title="" target="_blank">xfce4</a>, 					
						<a href="" title="" target="_blank">archlinux</a>, 					
						<a href="" title="" target="_blank">firefox developer edition</a>, 					
						<a href="" title="" target="_blank">pidget-otr</a>, 					
						<a href="" title="" target="_blank">VirtualBox</a>, 					
						<a href="" title="" target="_blank">Valgrind</a>, 					
						<a href="" title="" target="_blank">vim</a>, 					
						<a href="" title="" target="_blank">Gimp</a>, 					
						<a href="" title="" target="_blank">Inkscape</a>, 					
						<a href="" title="" target="_blank">Krita</a>, 					
						<a href="" title="" target="_blank">Blender</a>, 					
						<a href="" title="" target="_blank">git</a>, 					
						<a href="" title="" target="_blank">VLC</a>, 					
						<a href="" title="" target="_blank">ANKI</a>, 					
						<a href="" title="" target="_blank">TuxGuitar</a>, 					
						<a href="" title="" target="_blank">MuseScore</a>, 					
						<a href="" title="" target="_blank">Audacity</a>, 					
						<a href="" title="" target="_blank">Foobar2000</a>
					</div>

					<h3>Versioning</h3>
					<div class="news-item">
						<a href="https://github.com" title="" target="_blank">GitHub</a> (github.com)
					</div>
					<div class="news-item">
						<a href="https://bitbucket.org" title="" target="_blank">Bitbucket</a> (bitbucket.org)
					</div>


					<h3>Software Libre</h3>
					<div class="news-item">
						<a href="https://www.gnu.org/philosophy/free-sw.html" title="" target="_blank">Free software, free as in speech</a> (gnu.org)
					</div>
					<div class="news-item">
						<a href="https://www.gnu.org/licenses/license-recommnedations.html" title="" target="_blank">GNU License Recommendations</a> (gnu.org)
					</div>
					<div class="news-item">
						<a href="http://choosealicense.com" title="" target="_blank">Choose a License</a> (choosealicense.com)
					</div>
					<div class="news-item">
						<a href="https://opensource.org/history" title="" target="_blank">OSI: Open Source Initiative</a> (opensource.org)
					</div>

					<h3>Free Speech, Privacy</h3>
					<div class="news-item">
						<a href="https://www.eff.org/issues/blogger/legal" title="" target="_blank">EFF: Legal Guide for Bloggers</a> (eff.org)
					</div>
					<div class="news-item">
						<a href="https://www.eff.org/issues/coders" title="" target="_blank">EFF: Coders Rights</a> (eff.org)
					</div>

					<h3>Encryption, Anonymity</h3>
					<div class="news-item">
						<a href="https://www.gnupg.org" title="" target="_blank">GnuPG: securing your email and identity</a> (gnupg.org)
					</div>
					<div class="news-item">
						<a href="https://www.openssh.com" title="" target="_blank">OpenSSH: secure tunneling and authentication</a> (eff.org)
					</div>
					<div class="news-item">
						<a href="https://www.torproject.org" title="" target="_blank">Tor: protecting anonymity online</a> (torprogect.org)
					</div>

					<!--<div class="news-item">
						<a href="https://gnu.org/philosophy/open-source-misses-the-point.html" title="" target="_blank">'Why Open Source misses the point of Free Software' - Richard Stallman</a> (gnu.org)
					</div-->
					
					
					<!-- 
					link item

					<div class="news-item">
						<a href="" title="" target="_blank"></a> ()
					</div>
					-->
				</div>
			</div>