			<div class="row">
				<div class="columns eight">
					<h2>Status</h2>

					<div class="status-item">
						<strong>David Vokoun</strong>: <date>2016-02-10 1:28pm</date>
						<p>Bite-sized PB&Js: Vanilla wafers, peanut butter, and your favorite type of jelly (which obviously, seedless blackberry).  Perfect snack tray item.</p>
					</div>


					<div class="status-item">
						<strong>David Vokoun</strong>: <date>2016-02-10 10:51am</date>
						<p>Winter came and went.</p>
					</div>

					<div class="status-item">
						<strong>David Vokoun</strong>:  <date>2016-02-09 10:30pm</date>
						<p>Hope the next season of Archer turns out alright. I hate to say the past two seasons were hit-and-miss. With the misses not necessarily being awful television, just not up to the standards of the show.</p>
					</div>

					<div class="status-item">
						<strong>David Vokoun</strong>:  <date>2016-02-09 10:01pm</date>
						<p>I've been working on this website lately.  Ideally, a simple functional thing. To help organize my thoughts, projects, and maintain some semblance of a web presence.
					</div>


					<div class="status-item">
						<strong>David Vokoun</strong>: <date>2015-02-25</date>
						<div>					
						<p>Awesome music, free on Bandcamp. <a href="http://heistathand.bandcamp.com/">heistathand.bandcamp.com</a></p>

						<div class="whatisthis embed" onclick="this.innerHTML = '<iframe style=\'border: 0; width: 100%; height: 120px;\' src=\'https://bandcamp.com/EmbeddedPlayer/album=2394631199/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=904245171/transparent=true/\' seamless><a href=\'https://heistathand.bandcamp.com/album/heist-at-hand\'>Heist At Hand by Heist At Hand</a></iframe>'; this.onclick = function() {};"><div class="center"><strong>Click to load Bandcamp Player </strong>[<small>Embedded Media</small>] </div></div></div>
						<br>
					</div>
					
				</div>
				<div class="columns four">
					<h2>News</h2>
					<div id="news">
						<div class="news-item">
							<a href="#"></a> () <date>2016-02-11 2:49am</date>
						</div> 
						<div class="news-item">
							<a href="http://www.underhanded-c.org/" title="Winners of the Underhanded C Competetion" target="_blank">Winners of the Underhanded-C Competetion</a> (www.underhanded-c.org) <date>2015-06-07</date>
						</div>

					</div>

				</div>
			</div>
